#Use this file to manage files you don't want push to github 


#To git ignore folders add / before the folder name as show below. 
/myenv   


#To git ignore files just specifiy the file name (Remember to provide absolute path). 
